# progress bars in model download and training scripts
tqdm==4.67.1
# Accessing files from S3 directly.
boto3==1.33.13
# Used for downloading models over HTTP
requests==2.32.2

torch==1.13.1
scipy==1.7.3
numpy==1.21.6
pandas==1.2.3
scikit-learn==1.0.2
pyarrow==12.0.1
